$xxxl-size: 3.75rem;
$xxxl-line-height: 6.375rem;
$xxxl-weight: 600;

$xxl-size: 1.75rem;
$xxl-line-height: 3.125rem;
$xxl-weight: 500;

$xl-size: 1.75rem;
$xl-line-height: 2.5rem;

$lg-size: 1.5rem;
$lg-line-height: 2.125rem;
$lg-weight: 400;

$md-size: 1.25rem;
$md-line-height: 1.875rem;

$base-size: 1.125rem;
$base-line-height: 2.5rem;

$sm-size: 1rem;
$sm-line-height: 1.125rem;
